@font-face {
    font-family: 'bonvenocflight';
    src: url('/Fonts/bonvenocf-light-webfont.eot');
    src: url('/Fonts/bonvenocf-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Fonts/bonvenocf-light-webfont.woff2') format('woff2'),
         url('/Fonts/bonvenocf-light-webfont.woff') format('woff'),
         url('/Fonts/bonvenocf-light-webfont.ttf') format('truetype'),
         url('/Fonts/bonvenocf-light-webfont.svg#bonvenocflight') format('svg');
    font-weight: normal;
    font-style: normal;
}

.button {
    font-family: "bonvenocflight";
    font-size: 20px;
    color: white;
    background-color: black;
    border-radius: 0;
}

.button:hover, .button:active {
    font-family: "bonvenocflight";
    font-size: 20px;
    color: black;
    background-color: white;
    border-radius: 0;
    border: none;
}

.tagline {
  font-size: 15px;
}
.copyright {
  font-family: "bonvenocflight";
  color: black;
  font-size: 10px;
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
}

.headline {
    padding: 95px 0;
}

.headline h1 img {
    width: 45%;
    padding-bottom: 30px;
}

.custom-modal {
  background: rgb(36,36,36); /* for IE */
  background: rgba(36,36,36,0.85);
}

.custom-modal h4 {
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'bonvenocflight';
}
hr {
  border-color: black;
  border-width: 2px;
  max-width: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'bonvenocflight';
}

.navbar-default {
  background-color: white;
  border-color: black;
  font-family: 'bonvenocflight';
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #f05f40;
  font-family: 'bonvenocflight';
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: black;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: black;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: black;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: black;
  }

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('/img/FLObg.jpg');
  text-align: center;
  color: black;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}

  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
